---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
  <h1>Sobre mi</h1>
  <h2>Mi nuevo sitio web echo con astro</h2>
  <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda pagina de mi sitio web, 
    y es la primera que he construido yo mismo 
  </p>
  <p>Este sitio se ira actualizando a medida que vaya completando mas partes del tutorial, 
    así que no dejes de visitarlo para ver como va mi viaje
  </p>
</body>
</html>